$white: #FFF;
$white-card : #fafafa;
$black: #000;
$bg-blue-dark: #1F1E38;
$bg-acqua: #35FFBF;
$bg-red: #F81D39;
$bg-turchese: #527CEB;
$bg-acqua-button: #39FFBF;
$bg-red-button: #F00E2E;
$bg-blue-button: #1F1E38;
$bg-viloet-button: #36354C;
$text-grey: #AAA;